################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GildedRoseApplication/.vs/GildedRoseApplication/v15
/GildedRoseApplication/GildedRoseApplication/obj
/GildedRoseApplication/GuildedRoseApplication.Tests/obj
/GildedRoseApplication/GildedRoseApplication/bin/Debug/netcoreapp2.1
/GildedRoseApplication/GuildedRoseApplication.Tests/bin/Debug/netcoreapp2.1
